# Dataframe for Meta-Analysis

In [2]:
import pandas as pd
import datetime
import numpy as np
import patsy

In [3]:
# Load arron-temp data
arron_temp = pd.read_csv("C:/Users/azdra/Documents/School/KU Leuven/Modern Data Analytics/mda_project/code/out/arron_temp_data.csv", sep = ",")

# Load mortality data
mort = pd.read_csv("C:/Users/azdra/Documents/School/KU Leuven/Modern Data Analytics/mda_project/code/out/mortality.csv", sep = ",")

In [4]:
mort

       YEAR YEAR_WEEK      COD  ARRON  N_DEATHS  WEEK
0      2000  2000-001  natural  11000      31.0     1
1      2000  2000-001  natural  12000      10.0     1
2      2000  2000-001  natural  13000      14.0     1
3      2000  2000-001  natural  21000      43.0     1
4      2000  2000-001  natural  23000      14.0     1
...     ...       ...      ...    ...       ...   ...
45550  2019  2019-053  natural  84000       6.0    53
45551  2019  2019-053  natural  85000       5.0    53
45552  2019  2019-053  natural  91000      10.0    53
45553  2019  2019-053  natural  92000      19.0    53
45554  2019  2019-053  natural  93000       7.0    53

[45555 rows x 6 columns]

In [5]:
arron_temp = arron_temp.drop(['Unnamed: 0', 'GRID_NO'], axis = 1)

In [6]:
arron_temp

,DAY,Nom_arrondissement,NIS_Code,TEMPERATURE_MAX,TEMPERATURE_MIN,TEMPERATURE_AVG,YEAR
0,20000101,Aalst,41000,8.4,4.7,6.6,2000.0
1,20000102,Aalst,41000,8.8,5.7,7.3,2000.0
2,20000103,Aalst,41000,9.5,7.1,8.3,2000.0
3,20000104,Aalst,41000,10.2,7.1,8.7,2000.0
4,20000105,Aalst,41000,7.2,2.1,4.7,2000.0
...,...,...,...,...,...,...,...
321415,20191227,Ypres,33000,8.0,6.9,7.4,2019.0
321416,20191228,Ypres,33000,7.5,5.7,6.6,2019.0
321417,20191229,Ypres,33000,4.8,0.5,2.7,2019.0
321418,20191230,Ypres,33000,7.7,1.2,4.5,2019.0
321419,20191231,Ypres,33000,5.8,1.1,3.5,2019.0

In [7]:
regions = arron_temp['Nom_arrondissement'].unique()
datalist = {}

for region in regions:
    datalist[region] = arron_temp[arron_temp['Nom_arrondissement'] == region]
    datalist[region]['tmean05'] = datalist[region]['TEMPERATURE_AVG'].rolling(window=6).mean()
    datalist[region]['WEEK'] = [int(datetime.date(x//10000, (x//100)%100, x%100).strftime("%V")) for x in datalist[region]['DAY']]
    datalist[region] = datalist[region][['DAY', 'YEAR', 'WEEK', 'Nom_arrondissement', 'NIS_Code', 'TEMPERATURE_MIN', 'TEMPERATURE_MAX', 'TEMPERATURE_AVG', 'tmean05']]
    datalist[region]['N_DEATHS'] = -1
    datalist[region].reset_index(drop = True)
    
    n_deaths=[]
    for i in range(0, len(datalist[region])):
        deaths = mort[(mort['YEAR']==datalist[region].iloc[i]['YEAR']) & 
                      (mort['WEEK']==datalist[region].iloc[i]['WEEK']) & 
                      (mort['ARRON']==datalist[region].iloc[i]['NIS_Code'])]['N_DEATHS']
        if len(deaths) ==0:
            n_deaths.append(np.NAN)
        else:
            n_deaths.append(deaths.iloc[0])
    datalist[region]['N_DEATHS'] = [round(d/7, 2) for d in n_deaths]

<ipython-input-7-9d9d995e7d2d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['tmean05'] = datalist[region]['TEMPERATURE_AVG'].rolling(window=6).mean()
<ipython-input-7-9d9d995e7d2d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['WEEK'] = [int(datetime.date(x//10000, (x//100)%100, x%100).strftime("%V")) for x in datalist[region]['DAY']]
<ipython-input-7-9d9d995e7d2d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['tmean05'] = datalist[region]['TEMPERATURE_AVG'].rolling(window=6).mean()
<ipython-input-7-9d9d995e7d2d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['WEEK'] = [int(datetime.date(x//10000, (x//100)%100, x%100).strftime("%V")) for x in datalist[region]['DAY']]
<ipython-input-7-9d9d995e7d2d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['tmean05'] = datalist[region]['TEMPERATURE_AVG'].rolling(window=6).mean()
<ipython-input-7-9d9d995e7d2d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['WEEK'] = [int(datetime.date(x//10000, (x//100)%100, x%100).strftime("%V")) for x in datalist[region]['DAY']]
<ipython-input-7-9d9d995e7d2d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['tmean05'] = datalist[region]['TEMPERATURE_AVG'].rolling(window=6).mean()
<ipython-input-7-9d9d995e7d2d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['WEEK'] = [int(datetime.date(x//10000, (x//100)%100, x%100).strftime("%V")) for x in datalist[region]['DAY']]
<ipython-input-7-9d9d995e7d2d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['tmean05'] = datalist[region]['TEMPERATURE_AVG'].rolling(window=6).mean()
<ipython-input-7-9d9d995e7d2d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['WEEK'] = [int(datetime.date(x//10000, (x//100)%100, x%100).strftime("%V")) for x in datalist[region]['DAY']]
<ipython-input-7-9d9d995e7d2d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['tmean05'] = datalist[region]['TEMPERATURE_AVG'].rolling(window=6).mean()
<ipython-input-7-9d9d995e7d2d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['WEEK'] = [int(datetime.date(x//10000, (x//100)%100, x%100).strftime("%V")) for x in datalist[region]['DAY']]
<ipython-input-7-9d9d995e7d2d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['tmean05'] = datalist[region]['TEMPERATURE_AVG'].rolling(window=6).mean()
<ipython-input-7-9d9d995e7d2d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['WEEK'] = [int(datetime.date(x//10000, (x//100)%100, x%100).strftime("%V")) for x in datalist[region]['DAY']]
<ipython-input-7-9d9d995e7d2d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['tmean05'] = datalist[region]['TEMPERATURE_AVG'].rolling(window=6).mean()
<ipython-input-7-9d9d995e7d2d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['WEEK'] = [int(datetime.date(x//10000, (x//100)%100, x%100).strftime("%V")) for x in datalist[region]['DAY']]
<ipython-input-7-9d9d995e7d2d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['tmean05'] = datalist[region]['TEMPERATURE_AVG'].rolling(window=6).mean()
<ipython-input-7-9d9d995e7d2d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['WEEK'] = [int(datetime.date(x//10000, (x//100)%100, x%100).strftime("%V")) for x in datalist[region]['DAY']]
<ipython-input-7-9d9d995e7d2d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['tmean05'] = datalist[region]['TEMPERATURE_AVG'].rolling(window=6).mean()
<ipython-input-7-9d9d995e7d2d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['WEEK'] = [int(datetime.date(x//10000, (x//100)%100, x%100).strftime("%V")) for x in datalist[region]['DAY']]
<ipython-input-7-9d9d995e7d2d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['tmean05'] = datalist[region]['TEMPERATURE_AVG'].rolling(window=6).mean()
<ipython-input-7-9d9d995e7d2d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['WEEK'] = [int(datetime.date(x//10000, (x//100)%100, x%100).strftime("%V")) for x in datalist[region]['DAY']]
<ipython-input-7-9d9d995e7d2d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['tmean05'] = datalist[region]['TEMPERATURE_AVG'].rolling(window=6).mean()
<ipython-input-7-9d9d995e7d2d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['WEEK'] = [int(datetime.date(x//10000, (x//100)%100, x%100).strftime("%V")) for x in datalist[region]['DAY']]
<ipython-input-7-9d9d995e7d2d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['tmean05'] = datalist[region]['TEMPERATURE_AVG'].rolling(window=6).mean()
<ipython-input-7-9d9d995e7d2d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['WEEK'] = [int(datetime.date(x//10000, (x//100)%100, x%100).strftime("%V")) for x in datalist[region]['DAY']]
<ipython-input-7-9d9d995e7d2d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['tmean05'] = datalist[region]['TEMPERATURE_AVG'].rolling(window=6).mean()
<ipython-input-7-9d9d995e7d2d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['WEEK'] = [int(datetime.date(x//10000, (x//100)%100, x%100).strftime("%V")) for x in datalist[region]['DAY']]
<ipython-input-7-9d9d995e7d2d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['tmean05'] = datalist[region]['TEMPERATURE_AVG'].rolling(window=6).mean()
<ipython-input-7-9d9d995e7d2d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['WEEK'] = [int(datetime.date(x//10000, (x//100)%100, x%100).strftime("%V")) for x in datalist[region]['DAY']]
<ipython-input-7-9d9d995e7d2d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['tmean05'] = datalist[region]['TEMPERATURE_AVG'].rolling(window=6).mean()
<ipython-input-7-9d9d995e7d2d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['WEEK'] = [int(datetime.date(x//10000, (x//100)%100, x%100).strftime("%V")) for x in datalist[region]['DAY']]
<ipython-input-7-9d9d995e7d2d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['tmean05'] = datalist[region]['TEMPERATURE_AVG'].rolling(window=6).mean()
<ipython-input-7-9d9d995e7d2d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['WEEK'] = [int(datetime.date(x//10000, (x//100)%100, x%100).strftime("%V")) for x in datalist[region]['DAY']]
<ipython-input-7-9d9d995e7d2d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['tmean05'] = datalist[region]['TEMPERATURE_AVG'].rolling(window=6).mean()
<ipython-input-7-9d9d995e7d2d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['WEEK'] = [int(datetime.date(x//10000, (x//100)%100, x%100).strftime("%V")) for x in datalist[region]['DAY']]
<ipython-input-7-9d9d995e7d2d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['tmean05'] = datalist[region]['TEMPERATURE_AVG'].rolling(window=6).mean()
<ipython-input-7-9d9d995e7d2d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['WEEK'] = [int(datetime.date(x//10000, (x//100)%100, x%100).strftime("%V")) for x in datalist[region]['DAY']]
<ipython-input-7-9d9d995e7d2d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['tmean05'] = datalist[region]['TEMPERATURE_AVG'].rolling(window=6).mean()
<ipython-input-7-9d9d995e7d2d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['WEEK'] = [int(datetime.date(x//10000, (x//100)%100, x%100).strftime("%V")) for x in datalist[region]['DAY']]
<ipython-input-7-9d9d995e7d2d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['tmean05'] = datalist[region]['TEMPERATURE_AVG'].rolling(window=6).mean()
<ipython-input-7-9d9d995e7d2d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['WEEK'] = [int(datetime.date(x//10000, (x//100)%100, x%100).strftime("%V")) for x in datalist[region]['DAY']]
<ipython-input-7-9d9d995e7d2d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['tmean05'] = datalist[region]['TEMPERATURE_AVG'].rolling(window=6).mean()
<ipython-input-7-9d9d995e7d2d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['WEEK'] = [int(datetime.date(x//10000, (x//100)%100, x%100).strftime("%V")) for x in datalist[region]['DAY']]
<ipython-input-7-9d9d995e7d2d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['tmean05'] = datalist[region]['TEMPERATURE_AVG'].rolling(window=6).mean()
<ipython-input-7-9d9d995e7d2d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalist[region]['WEEK'] = [int(datetime.date(x//10000, (x//100)%100, x%100).strftime("%V")) for x in datalist[region]['DAY']]
<ipython-input-7-9d9d995e7d2d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.

In [8]:
datalist

{'Aalst':            DAY    YEAR  WEEK Nom_arrondissement  NIS_Code  TEMPERATURE_MIN  \
 0     20000101  2000.0    52              Aalst     41000              4.7
 1     20000102  2000.0    52              Aalst     41000              5.7
 2     20000103  2000.0     1              Aalst     41000              7.1
 3     20000104  2000.0     1              Aalst     41000              7.1
 4     20000105  2000.0     1              Aalst     41000              2.1
 ...        ...     ...   ...                ...       ...              ...
 7300  20191227  2019.0    52              Aalst     41000              5.8
 7301  20191228  2019.0    52              Aalst     41000              5.1
 7302  20191229  2019.0    52              Aalst     41000             -0.9
 7303  20191230  2019.0     1              Aalst     41000              2.0
 7304  20191231  2019.0     1              Aalst     41000              0.5

       TEMPERATURE_MAX  TEMPERATURE_AVG   tmean05  N_DEATHS
 0                 8.4              6.6       NaN      7.57
 1                 8.8              7.3       NaN      7.57
 2                 9.5              8.3       NaN      0.71
 3                10.2              8.7       NaN      0.71
 4                 7.2              4.7       NaN      0.71
 ...               ...              ...       ...       ...
 7300              7.7              6.8  7.016667      8.14
 7301              7.2              6.1  6.683333      8.14
 7302              4.9              2.0  5.733333      8.14
 7303              7.9              5.0  5.066667      6.86
 7304              5.1              2.8  4.266667      6.86

 [7305 rows x 10 columns],
 'Antwerpen':             DAY    YEAR  WEEK Nom_arrondissement  NIS_Code  TEMPERATURE_MIN  \
 7305   20000101  2000.0    52          Antwerpen     11000              4.9
 7306   20000102  2000.0    52          Antwerpen     11000              5.4
 7307   20000103  2000.0     1          Antwerpen     11000              7.6
 7308   20000104  2000.0     1          Antwerpen     11000              7.2
 7309   20000105  2000.0     1          Antwerpen     11000              3.2
 ...         ...     ...   ...                ...       ...              ...
 14605  20191227  2019.0    52          Antwerpen     11000              5.3
 14606  20191228  2019.0    52          Antwerpen     11000              0.7
 14607  20191229  2019.0    52          Antwerpen     11000             -3.2
 14608  20191230  2019.0     1          Antwerpen     11000              0.6
 14609  20191231  2019.0     1          Antwerpen     11000              0.2

        TEMPERATURE_MAX  TEMPERATURE_AVG   tmean05  N_DEATHS
 7305               8.5              6.7       NaN     24.57
 7306               9.5              7.4       NaN     24.57
 7307               9.8              8.7       NaN      4.43
 7308               9.8              8.5       NaN      4.43
 7309               8.1              5.7       NaN      4.43
 ...                ...              ...       ...       ...
 14605              6.9              6.1  6.933333     25.57
 14606              6.0              3.3  6.166667     25.57
 14607              5.6              1.2  4.966667     25.57
 14608              9.3              5.0  4.300000     18.29
 14609              7.1              3.7  3.583333     18.29

 [7305 rows x 10 columns],
 'Arlon':             DAY    YEAR  WEEK Nom_arrondissement  NIS_Code  TEMPERATURE_MIN  \
 14610  20000101  2000.0    52              Arlon     81000              1.1
 14611  20000102  2000.0    52              Arlon     81000              0.5
 14612  20000103  2000.0     1              Arlon     81000             -0.1
 14613  20000104  2000.0     1              Arlon     81000              2.7
 14614  20000105  2000.0     1              Arlon     81000              2.7
 ...         ...     ...   ...                ...       ...              ...
 21910  20191227  2019.0    52              Arlon     81000              2.3
 21911  20191228  2019.0    52              Arlon     81000              2.0
 21912  20191229  2019.0    52              Arlon     81000             -2.1
 21913  20191230  2019.0     1              Arlon     81000             -1.8
 21914  20191231  2019.0     1              Arlon     81000             -3.3

        TEMPERATURE_MAX  TEMPERATURE_AVG   tmean05  N_DEATHS
 14610              4.9              3.0       NaN      0.86
 14611              4.6              2.6       NaN      0.86
 14612              3.3              1.6       NaN       NaN
 14613              6.4              4.6       NaN       NaN
 14614              6.6              4.7       NaN       NaN
 ...                ...              ...       ...       ...
 21910              7.3              4.8  5.483333      1.43
 21911              3.9              2.9  4.883333      1.43
 21912              5.1              1.5  4.100000      1.43
 21913              5.6              1.9  3.316667       NaN
 21914              5.5              1.1  2.333333       NaN

 [7305 rows x 10 columns],
 'Ath':             DAY    YEAR  WEEK Nom_arrondissement  NIS_Code  TEMPERATURE_MIN  \
 21915  20000101  2000.0    52                Ath     51000              4.9
 21916  20000102  2000.0    52                Ath     51000              5.8
 21917  20000103  2000.0     1                Ath     51000              6.9
 21918  20000104  2000.0     1                Ath     51000              7.1
 21919  20000105  2000.0     1                Ath     51000              2.3
 ...         ...     ...   ...                ...       ...              ...
 29215  20191227  2019.0    52                Ath     51000              6.3
 29216  20191228  2019.0    52                Ath     51000              3.8
 29217  20191229  2019.0    52                Ath     51000             -1.5
 29218  20191230  2019.0     1                Ath     51000              0.8
 29219  20191231  2019.0     1                Ath     51000              0.6

        TEMPERATURE_MAX  TEMPERATURE_AVG   tmean05  N_DEATHS
 21915              8.2              6.5       NaN      2.14
 21916              9.0              7.4       NaN      2.14
 21917              8.9              7.9       NaN       NaN
 21918             10.0              8.6       NaN       NaN
 21919              7.7              5.0       NaN       NaN
 ...                ...              ...       ...       ...
 29215              8.3              7.3  7.066667      3.86
 29216              7.0              5.4  6.583333      3.86
 29217              5.1              1.8  5.600000      3.86
 29218              8.6              4.7  4.916667      2.43
 29219              6.1              3.3  4.266667      2.43

 [7305 rows x 10 columns],
 'Audenarde':             DAY    YEAR  WEEK Nom_arrondissement  NIS_Code  TEMPERATURE_MIN  \
 29220  20000101  2000.0    52          Audenarde     45000              4.9
 29221  20000102  2000.0    52          Audenarde     45000              5.9
 29222  20000103  2000.0     1          Audenarde     45000              7.3
 29223  20000104  2000.0     1          Audenarde     45000              7.3
 29224  20000105  2000.0     1          Audenarde     45000              2.3
 ...         ...     ...   ...                ...       ...              ...
 36520  20191227  2019.0    52          Audenarde     45000              6.1
 36521  20191228  2019.0    52          Audenarde     45000              5.3
 36522  20191229  2019.0    52          Audenarde     45000             -0.4
 36523  20191230  2019.0     1          Audenarde     45000              1.9
 36524  20191231  2019.0     1          Audenarde     45000              0.6

        TEMPERATURE_MAX  TEMPERATURE_AVG   tmean05  N_DEATHS
 29220              8.6              6.7       NaN      3.71
 29221              9.0              7.4       NaN      3.71
 29222              9.7              8.5       NaN      0.57
 29223             10.4              8.8       NaN      0.57
 29224              7.4              4.8       NaN      0.57
 ...                ...              ...       ...       ...
 36520              7.9              7.0  7.166667      2.86
 36521              7.3              6.3  6.833333      2.86
 36522              5.0              2.3  5.916667      2.86
 36523              7.8              4.9  5.216667      2.71
 36524              5.6              3.1  4.433333      2.71

 [7305 rows x 10 columns],
 'Bastogne':             DAY    YEAR  WEEK Nom_arrondissement  NIS_Code  TEMPERATURE_MIN  \
 36525  20000101  2000.0    52           Bastogne     82000              1.3
 36526  20000102  2000.0    52           Bastogne     82000              0.9
 36527  20000103  2000.0     1           Bastogne     82000              1.7
 36528  20000104  2000.0     1           Bastogne     82000              3.1
 36529  20000105  2000.0     1           Bastogne     82000              1.6
 ...         ...     ...   ...                ...       ...              ...
 43825  20191227  2019.0    52           Bastogne     82000              2.5
 43826  20191228  2019.0    52           Bastogne     82000              1.1
 43827  20191229  2019.0    52           Bastogne     82000             -2.0
 43828  20191230  2019.0     1           Bastogne     82000              0.3
 43829  20191231  2019.0     1           Bastogne     82000             -0.5

        TEMPERATURE_MAX  TEMPERATURE_AVG   tmean05  N_DEATHS
 36525              5.0              3.2       NaN      2.00
 36526              5.2              3.0       NaN      2.00
 36527              3.9              2.8       NaN      0.57
 36528              6.5              4.8       NaN      0.57
 36529              6.1              3.9       NaN      0.57
 ...                ...              ...       ...       ...
 43825              5.8              4.2  5.116667      1.00
 43826              3.5              2.3  4.466667      1.00
 43827              5.7              1.8  3.783333      1.00
 43828              7.8              4.1  3.400000      1.14
 43829              5.5              2.5  2.816667      1.14

 [7305 rows x 10 columns],
 'Brugge':             DAY    YEAR  WEEK Nom_arrondissement  NIS_Code  TEMPERATURE_MIN  \
 43830  20000101  2000.0    52             Brugge     31000              5.5
 43831  20000102  2000.0    52             Brugge     31000              5.5
 43832  20000103  2000.0     1             Brugge     31000              7.3
 43833  20000104  2000.0     1             Brugge     31000              5.8
 43834  20000105  2000.0     1             Brugge     31000              0.5
 ...         ...     ...   ...                ...       ...              ...
 51130  20191227  2019.0    52             Brugge     31000              6.2
 51131  20191228  2019.0    52             Brugge     31000              5.3
 51132  20191229  2019.0    52             Brugge     31000              0.8
 51133  20191230  2019.0     1             Brugge     31000              1.9
 51134  20191231  2019.0     1             Brugge     31000              1.0

        TEMPERATURE_MAX  TEMPERATURE_AVG   tmean05  N_DEATHS
 43830              9.0              7.2       NaN      8.00
 43831             10.0              7.8       NaN      8.00
 43832             10.3              8.8       NaN      2.00
 43833             10.4              8.1       NaN      2.00
 43834              7.9              4.2       NaN      2.00
 ...                ...              ...       ...       ...
 51130              7.8              7.0  7.333333     11.14
 51131              7.1              6.2  7.016667     11.14
 51132              5.0              2.9  6.133333     11.14
 51133              7.3              4.6  5.466667      5.71
 51134              7.0              4.0  4.783333      5.71

 [7305 rows x 10 columns],
 'Bruxelles-Capitale':             DAY    YEAR  WEEK  Nom_arrondissement  NIS_Code  TEMPERATURE_MIN  \
 51135  20000101  2000.0    52  Bruxelles-Capitale     21000              4.8
 51136  20000102  2000.0    52  Bruxelles-Capitale     21000              5.3
 51137  20000103  2000.0     1  Bruxelles-Capitale     21000              6.8
 51138  20000104  2000.0     1  Bruxelles-Capitale     21000              6.9
 51139  20000105  2000.0     1  Bruxelles-Capitale     21000              2.6
 ...         ...     ...   ...                 ...       ...              ...
 58435  20191227  2019.0    52  Bruxelles-Capitale     21000              5.2
 58436  20191228  2019.0    52  Bruxelles-Capitale     21000              1.8
 58437  20191229  2019.0    52  Bruxelles-Capitale     21000             -1.6
 58438  20191230  2019.0     1  Bruxelles-Capitale     21000              0.8
 58439  20191231  2019.0     1  Bruxelles-Capitale     21000              1.9

        TEMPERATURE_MAX  TEMPERATURE_AVG   tmean05  N_DEATHS
 51135              7.7              6.2       NaN     25.29
 51136              9.2              7.2       NaN     25.29
 51137              8.3              7.5       NaN      6.14
 51138              9.7              8.3       NaN      6.14
 51139              8.1              5.3       NaN      6.14
 ...                ...              ...       ...       ...
 58435              6.7              5.9  6.933333     22.57
 58436              5.9              3.8  6.200000     22.57
 58437              5.2              1.8  5.166667     22.57
 58438             10.1              5.4  4.600000     19.86
 58439              5.1              3.5  3.916667     19.86

 [7305 rows x 10 columns],
 'Charleroi':             DAY    YEAR  WEEK Nom_arrondissement  NIS_Code  TEMPERATURE_MIN  \
 58440  20000101  2000.0    52          Charleroi     52000              3.8
 58441  20000102  2000.0    52          Charleroi     52000              4.4
 58442  20000103  2000.0     1          Charleroi     52000              5.4
 58443  20000104  2000.0     1          Charleroi     52000              5.6
 58444  20000105  2000.0     1          Charleroi     52000              1.1
 ...         ...     ...   ...                ...       ...              ...
 65740  20191227  2019.0    52          Charleroi     52000              4.9
 65741  20191228  2019.0    52          Charleroi     52000              3.1
 65742  20191229  2019.0    52          Charleroi     52000             -1.4
 65743  20191230  2019.0     1          Charleroi     52000              2.3
 65744  20191231  2019.0     1          Charleroi     52000              1.5

        TEMPERATURE_MAX  TEMPERATURE_AVG   tmean05  N_DEATHS
 58440              6.9              5.3       NaN     10.71
 58441              7.3              5.9       NaN     10.71
 58442              6.4              5.9       NaN      2.71
 58443              8.7              7.1       NaN      2.71
 58444              7.6              4.3       NaN      2.71
 ...                ...              ...       ...       ...
 65740              6.6              5.7  6.466667     14.00
 65741              4.7              3.9  5.850000     14.00
 65742              7.2              2.9  5.033333     14.00
 65743              9.6              6.0  4.650000      9.00
 65744              5.4              3.5  4.150000      9.00

 [7305 rows x 10 columns],
 'Courtrai':             DAY    YEAR  WEEK Nom_arrondissement  NIS_Code  TEMPERATURE_MIN  \
 65745  20000101  2000.0    52           Courtrai     34000              4.9
 65746  20000102  2000.0    52           Courtrai     34000              5.9
 65747  20000103  2000.0     1           Courtrai     34000              7.3
 65748  20000104  2000.0     1           Courtrai     34000              7.3
 65749  20000105  2000.0     1           Courtrai     34000              2.3
 ...         ...     ...   ...                ...       ...              ...
 73045  20191227  2019.0    52           Courtrai     34000              6.1
 73046  20191228  2019.0    52           Courtrai     34000              5.3
 73047  20191229  2019.0    52           Courtrai     34000             -0.4
 73048  20191230  2019.0     1           Courtrai     34000              1.9
 73049  20191231  2019.0     1           Courtrai     34000              0.6

        TEMPERATURE_MAX  TEMPERATURE_AVG   tmean05  N_DEATHS
 65745              8.6              6.7       NaN      6.71
 65746              9.0              7.4       NaN      6.71
 65747              9.7              8.5       NaN      1.43
 65748             10.4              8.8       NaN      1.43
 65749              7.4              4.8       NaN      1.43
 ...                ...              ...       ...       ...
 73045              7.9              7.0  7.166667      9.00
 73046              7.3              6.3  6.833333      9.00
 73047              5.0              2.3  5.916667      9.00
 73048              7.8              4.9  5.216667      6.71
 73049              5.6              3.1  4.433333      6.71

 [7305 rows x 10 columns],
 'Dendermonde':             DAY    YEAR  WEEK Nom_arrondissement  NIS_Code  TEMPERATURE_MIN  \
 73050  20000101  2000.0    52        Dendermonde     42000              5.3
 73051  20000102  2000.0    52        Dendermonde     42000              6.4
 73052  20000103  2000.0     1        Dendermonde     42000              8.0
 73053  20000104  2000.0     1        Dendermonde     42000              8.6
 73054  20000105  2000.0     1        Dendermonde     42000              4.2
 ...         ...     ...   ...                ...       ...              ...
 80350  20191227  2019.0    52        Dendermonde     42000              5.7
 80351  20191228  2019.0    52        Dendermonde     42000              3.4
 80352  20191229  2019.0    52        Dendermonde     42000             -2.0
 80353  20191230  2019.0     1        Dendermonde     42000              0.7
 80354  20191231  2019.0     1        Dendermonde     42000              0.5

        TEMPERATURE_MAX  TEMPERATURE_AVG   tmean05  N_DEATHS
 73050              9.0              7.2       NaN      4.29
 73051             10.0              8.2       NaN      4.29
 73052             10.6              9.3       NaN      0.86
 73053             10.0              9.3       NaN      0.86
 73054              8.5              6.4       NaN      0.86
 ...                ...              ...       ...       ...
 80350              7.4              6.5  7.250000      5.29
 80351              6.7              5.0  6.683333      5.29
 80352              5.4              1.7  5.566667      5.29
 80353              9.2              5.0  4.850000      4.29
 80354              6.3              3.4  4.050000      4.29

 [7305 rows x 10 columns],
 'Diksmuide':             DAY    YEAR  WEEK Nom_arrondissement  NIS_Code  TEMPERATURE_MIN  \
 80355  20000101  2000.0    52          Diksmuide     32000              5.8
 80356  20000102  2000.0    52          Diksmuide     32000              6.5
 80357  20000103  2000.0     1          Diksmuide     32000              7.8
 80358  20000104  2000.0     1          Diksmuide     32000              6.0
 80359  20000105  2000.0     1          Diksmuide     32000              2.4
 ...         ...     ...   ...                ...       ...              ...
 87655  20191227  2019.0    52          Diksmuide     32000              7.4
 87656  20191228  2019.0    52          Diksmuide     32000              5.5
 87657  20191229  2019.0    52          Diksmuide     32000              0.3
 87658  20191230  2019.0     1          Diksmuide     32000              0.3
 87659  20191231  2019.0     1          Diksmuide     32000              0.6

        TEMPERATURE_MAX  TEMPERATURE_AVG   tmean05  N_DEATHS
 80355              9.0              7.4       NaN      1.14
 80356             10.1              8.3       NaN      1.14
 80357             10.4              9.1       NaN       NaN
 80358             10.6              8.3       NaN       NaN
 80359              8.5              5.4       NaN       NaN

# Model

In [9]:
m = len(datalist)
m

44

In [10]:
# TEMPERATURE RANGES (FOR LAG 0-5)
min_tmean05 = pd.DataFrame([{k:(v['tmean05']).min() for k,v in datalist.items()}], index =["MIN"])
max_tmean05 = pd.DataFrame([{k:(v['tmean05']).max() for k,v in datalist.items()}], index = ["MAX"])
ranges = pd.concat([min_tmean05, max_tmean05], axis = 0).transpose()
ranges

                           MIN        MAX
Aalst                -6.050000  25.483333
Antwerpen            -8.066667  25.366667
Arlon                -9.300000  29.366667
Ath                  -6.800000  25.566667
Audenarde            -5.833333  25.633333
Bastogne             -9.900000  27.116667
Brugge               -5.016667  23.550000
Bruxelles-Capitale   -7.900000  25.350000
Charleroi            -9.033333  25.933333
Courtrai             -5.833333  25.633333
Dendermonde          -6.700000  25.950000
Diksmuide            -4.733333  23.283333
Dinant               -8.316667  26.433333
Eeklo                -5.533333  24.433333
Gent                 -5.750000  26.166667
Hal-Vilvorde         -6.783333  25.450000
Hasselt              -7.983333  25.866667
Huy                  -9.466667  26.683333
La LouviÃ¨re          -8.350000  25.966667
Leuven               -7.950000  25.783333
LiÃ¨ge                -9.716667  26.616667
Maaseik              -8.616667  25.750000
Marche-en-Famenne    -9.366667  26.866667
Mechelen             -7.483333  25.966667
Mons                 -7.066667  25.850000
Mouscron             -5.383333  26.333333
Namur                -9.233333  26.266667
NeufchÃ¢teau          -9.583333  27.600000
Nivelles             -8.266667  25.500000
Oostende             -5.483333  22.816667
Philippeville        -8.233333  26.500000
Roeselare            -5.783333  25.050000
Sint-Niklaas         -6.700000  25.950000
Soignies             -6.733333  25.716667
Thuin                -8.366667  25.883333
Tielt                -5.766667  25.250000
Tongres              -9.100000  26.333333
Tournai et Mouscron  -6.016667  25.916667
Turnhout             -7.966667  25.650000
Verviers            -10.133333  26.233333
Veurne               -4.733333  23.283333
Virton               -8.183333  27.383333
Waremme              -8.966667  26.150000
Ypres                -5.116667  24.833333

In [11]:
# DEFINE THE AVERAGE RANGE, CENTERING POINT, DEGREE AND TYPE OF THE SPLINE
# (THESE PARAMETERS CAN BE CHANGED BY THE USER FOR ADDITIONAL ANALYSES)
cen = 17
bounds = ranges.apply(np.mean)
degree = 2
type = "bs"
df = 6

# DEFINE THE KNOTS AT TEMPERATURE CORRESPONDING TO AVERAGE PERCENTILES
knotperc = [5, 35, 65, 95]
knots = pd.DataFrame(columns = ["5%", "35%", "65%", "95%"], index = regions)
for region in regions:
    perc = np.nanpercentile(datalist[region]["tmean05"], knotperc)
    knots.loc[region] = [perc[0], perc[1], perc[2], perc[3]]
knots

                           5%      35%      65%      95%
Aalst                  1.6325  8.41667  14.5167  19.9667
Antwerpen                 1.5     8.35  14.4833  20.0167
Arlon               -0.816667  6.88333  13.8667  20.6175
Ath                   1.41667  8.21667  14.3833  20.0342
Audenarde             1.78333  8.56667  14.6167  20.0167
Bastogne            -0.966667    6.455  13.2667    19.75
Brugge                   2.35  8.38333    14.15  18.9333
Bruxelles-Capitale    1.31583  8.31667  14.5058    20.25
Charleroi                0.65      7.9  14.1667  19.9833
Courtrai              1.78333  8.56667  14.6167  20.0167
Dendermonde           2.01583     8.75  14.8725  20.3842
Diksmuide              2.4825      8.5     14.1    18.85
Dinant               0.216667      7.4  13.7333  19.8167
Eeklo                  2.2825  8.58333  14.5667    19.55
Gent                  2.24917  8.96667  15.0667  20.5833
Hal-Vilvorde          1.61667      8.5     14.7  20.3167
Hasselt               1.28333   8.3775  14.8667  20.6833
Huy                  0.365833      7.7  14.1667  20.3667
La LouviÃ¨re              0.85  7.96667     14.2    20.05
Leuven                1.19917     8.25  14.6167  20.4167
LiÃ¨ge                    0.45  7.83333  14.4058  20.6508
Maaseik               1.04917  8.13333     14.7    20.45
Marche-en-Famenne   -0.316667  6.99417  13.6167    19.85
Mechelen                 1.75  8.61667  14.8058  20.4833
Mons                      1.2  8.08333  14.2667  19.9333
Mouscron              1.81667     8.65  14.7833  20.4342
Namur                    0.55  7.83333     14.2  20.1167
NeufchÃ¢teau         -0.866667   6.5275  13.3333  19.8167
Nivelles             0.915833  8.04417  14.3833  20.1508
Oostende                  2.1  8.11667     13.8     18.5
Philippeville             0.3  7.48333     13.8  19.8842
Roeselare             1.93333  8.51667     14.5  19.7667
Sint-Niklaas          2.01583     8.75  14.8725  20.3842
Soignies              1.33333     8.25  14.5833  20.2667
Thuin                  0.4825  7.71667  14.0167  19.9175
Tielt                 2.13333      8.7  14.7167  20.0342
Tongres                  0.65     8.05  14.6333  20.6833
Tournai et Mouscron   1.66667  8.46667  14.6333     20.2
Turnhout              1.43333      8.4     14.7    20.35
Verviers                -0.35        7  13.5225  19.7167
Veurne                 2.4825      8.5     14.1    18.85
Virton              -0.166667  7.21667    13.85  20.1333
Waremme                0.6825        8  14.5167    20.55
Ypres                    2.25      8.6  14.4558    19.65

In [14]:
btmean05 = patsy.bs(x=datalist['Dinant']['tmean05'], knots=knots.loc['Dinant'], degree=degree, lower_bound=bounds[0], upper_bound=bounds[1])
btmean05
# import statsmodels.formula.api as smf
# import statsmodels.api as sm

# formula = 'death ~ btmean05 + dow + cubspl'
# model = smf.glm(formula = formula, data=rdata, family=sm.families.Poisson())
# result = model.fit()
# print(result.summary())

              0         1         2    3    4    5
87660       NaN       NaN       NaN  NaN  NaN  NaN
87661       NaN       NaN       NaN  NaN  NaN  NaN
87662       NaN       NaN       NaN  NaN  NaN  NaN
87663       NaN       NaN       NaN  NaN  NaN  NaN
87664       NaN       NaN       NaN  NaN  NaN  NaN
...         ...       ...       ...  ...  ...  ...
94960  0.021580  0.647700  0.330719  0.0  0.0  0.0
94961  0.039426  0.689178  0.271396  0.0  0.0  0.0
94962  0.067551  0.723890  0.208559  0.0  0.0  0.0
94963  0.081644  0.733783  0.184573  0.0  0.0  0.0
94964  0.113833  0.745170  0.140996  0.0  0.0  0.0

[7305 rows x 6 columns]

# Trying Things Out

In [ ]:
# #!git clone https://github.com/rpy2/rpy2.git
# #%cd C:\Users\azdra\Documents\School\KU Leuven\Modern Data Analytics\mda_project\code\rpy2
# #!python setup.py install


# import pandas as pd
# import rpy2.robjects as ro
# from rpy2.robjects.packages import importr
# from rpy2.robjects import pandas2ri

# from rpy2.robjects.conversion import localconverter

# r_df = ro.DataFrame({'int_values': ro.IntVector([1,2,3]),
#                      'str_values': ro.StrVector(['abc', 'def', 'ghi'])})

# r_df
# with localconverter(ro.default_converter + pandas2ri.converter):
#   pd_from_r_df = ro.conversion.rpy2py(r_df)

# pd_from_r_df

# df=datalist['Dinant']
# rdf = pandas2ri.py2ri_pandasdataframe(df)
# qpoisson = ro.r.glm('Claim_Count ~ Age + Vehicle_Use', data = rdf, family = ro.r('quasipoisson(link = &quot;log&quot;)'))
# #print ro.r.summary(qpoisson)

Cloning into 'rpy2'...

In [ ]:
# for region in regions:
#     # print iteration
#     print(region)

#     # load
#     data = datalist[region]

#     # Create the spline. Nodes and boundaries are fixed at same values

In [ ]:
# rdata = pd.read_csv("C:/Users/azdra/Documents/School/KU Leuven/Modern Data Analytics/mda_project/r_data.csv", sep = ",")
# rdata

# btmean05 = patsy.bs(x=rdata['tmean05'], knots=[2.850704,  7.800237, 12.898169, 18.153446], degree=degree, lower_bound=-2.523582, upper_bound=23.017419)

# import statsmodels.formula.api as smf
# import statsmodels.api as sm

# cubspl = patsy.cr(rdata['time'], 7*14)
# formula = 'death ~ btmean05 + dow + cubspl'
# model = smf.glm(formula = formula, data=rdata, family=sm.families.Poisson())
# result = model.fit()
# print(result.summary())